# Environments
.venv/
.env/
**/__pycache__/
.ipynb_checkpoints/

# Data & artifacts
*.csv
*.parquet
*.feather
*.joblib
*.pkl
*.jsonl
logs/
artifacts/
data/raw/
data/processed/
Raw data sets/
processed Data sets/

# Notebooks
*.nbconvert.ipynb

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
