lightgbm==4.1.0
scikit-learn==1.5.2
imblearn==0.0
imbalanced-learn==0.12.3
pyyaml==6.0.2
joblib==1.4.2
matplotlib==3.9.2
seaborn==0.13.2
tqdm==4.66.5
plotly==5.24.1
scikit-optimize==0.9.0
rich==13.7.1
ipykernel==6.29.5
pytest==8.2.1
